{% extends "base.html" %}

{% block content %}

{% set asset_type="point_of_interest" %}

<div class="row">
    <div class="col">

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Point of Interest
            </div>
            <div class="col">
                <h2>{{ asset.name }}</h2>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Created by
            </div>
            <div class="col">
                <a class="fs-5" href="{{ url_for('users.user', username=asset.owner.username) }}">{{ asset.owner.username }}</a>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Setting
            </div>
            <div class="col">
                <a class="fs-5" href="{{ url_for('assets.view_setting_details', id=asset.setting.id) }}">{{ asset.setting.name }}</a>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Kingdom
            </div>
            <div class="col">
                <a class="fs-5" href="{{ url_for('assets.view_kingdom_details', id=asset.kingdom.id) }}">{{ asset.kingdom.name }}</a>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Tagline
            </div>
            <div class="col">
                {{ asset.short_description }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Ruler
            </div>
            <div class="col">
                {{ asset.ruler }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Description
            </div>
            <div class="col">
                {{ asset.long_description }}
            </div>
        </div>

        {% if current_user == asset.owner %}
        <div class="row mb-4">
            <div class="col">
                <a class="btn btn-outline-success" href="{{ url_for('assets.edit_point_of_interest', id=asset.id) }}">Edit this Point of Interest</a>
            </div>
            <div class="col">
                <form action="{{ url_for('assets.delete_asset', asset_type=asset_type, id=asset.id) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Delete this Point of Interest', class_="btn btn-outline-danger") }}
                </form>
            </div>
        </div>
        {% else %}
        <div class="row mb-4">
            <div class="col">
                <form action="{{ url_for('assets.copy_asset', asset_type=asset_type, id=asset.id) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Copy this Point of Interest to my account', class_="btn btn-outline-success") }}
                </form>
            </div>
        </div>
        {% endif %}

    </div>
    <div class="col">
        <img src="{{url_for('static', filename='images/default_campaign.jpeg')}}" class="d-block w-100" alt="A castle among cliffs surrounded by water.">
    </div>
</div>


{% endblock %}