{% extends "base.html" %}

{% block content %}


{% set asset_title_plural = (asset_type + 's').replace('_', ' ').replace('point', 'points').replace('citys', 'cities').replace('interests', 'interest').title() %}
{% set asset_title_singular = asset_type.replace('_', ' ').title() %}
{% set asset_details_route = 'explore.view_{}_details'.format(asset_type) %}
{% set asset_create_route = 'explore.create_{}'.format(asset_type) %}

    

    <div class="row">
        {% include 'explore/_explore_nav.html' %}
    </div>
    <hr class="border border-success border-3 opacity-75">

    <div class="row mb-3">
        {% include 'explore/_search_form.html' %}
        {% if username %}
        <div class="col">
            <a class="btn btn-success" href="{{ url_for(asset_create_route, asset_type=asset_type) }}">Create {{ asset_title_singular }}</a>
        </div>
        {% endif %}
    </div>

    {% if username %}
    <h2>{{current_user.username}}'s {{ asset_title_plural }}</h2>
    {% else %}
    <h2>{{ asset_title_plural }}</h2>
    {% endif %}
    <div class="container text-center mb-3">
        <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for asset in assets %}
                    {% include 'explore/_asset_list.html' %}
                {% endfor %}
        </div>
    </div>
    {% if assets %}
    {% include 'assets/partials/_pagination_buttons.html' %}
    {% endif %}
    

{% endblock %}