{% set current_asset_type = asset_type %}
{% set asset_types = ['campaign', 'setting', 'kingdom', 'city', 'point_of_interest', 'quest', 'encounter'] %}
<ul class="nav nav-pills">
{% for asset_type in asset_types %}
<li class="nav-item">
    {% if asset_type == current_asset_type %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('explore.view_assets', asset_type=asset_type, username=username) }}">{{ asset_type.replace('_', ' ').title() }}</a>
    {% else %}
        <a class="nav-link" href="{{ url_for('explore.view_assets', asset_type=asset_type, username=username) }}">{{ asset_type.replace('_', ' ').title() }}</a>
    {% endif %}
    </li>
{% endfor %}
</ul>
