{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    

    <div class="row">
        {% set explore_type = 'points_of_interest' %}
        {% include 'explore/_explore_nav.html' %}
    </div>
    <hr class="border border-success border-3 opacity-75">

    <div class="row mb-3">
        {% include 'explore/_search_form.html' %}
    </div>

    {% if username %}
    <h2>{{current_user.username}}'s Points of Interest</h2>
    {% else %}
    <h2>Points of Interest</h2>
    {% endif %}
    <div class="row mb-3">
        {% for point_of_interest in points_of_interest %}
            {% include 'explore/_point_of_interest.html' %}
        {% endfor %}
    </div>
    {% include '_pagination_buttons.html' %}
    

{% endblock %}