{% extends "base.html" %}

{% block content %}

{% set asset_type="setting" %}

<div class="row">
    <div class="col">

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Setting
            </div>
            <div class="col">
                <h2>{{ asset.name }}</h2>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Created by
            </div>
            <div class="col">
                <a class="fs-5" href="{{ url_for('main.user', username=asset.owner.username) }}">{{ asset.owner.username }}</a>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Tagline
            </div>
            <div class="col">
                {{ asset.short_description }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Description
            </div>
            <div class="col">
                {{ asset.long_description }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Geography
            </div>
            <div class="col">
                {{ asset.long_description }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Demographics
            </div>
            <div class="col">
                {{ asset.long_description }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Politics
            </div>
            <div class="col">
                {{ asset.long_description }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Economy
            </div>
            <div class="col">
                {{ asset.long_description }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                History
            </div>
            <div class="col">
                {{ asset.long_description }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Kingdoms
            </div>
            <div class="col">
                {% if asset.kingdoms %}
                {% for kingdom in asset.kingdoms %}
                <a class="fs-5" href="{{ url_for('explore.view_kingdom_details', id=kingdom.id) }}">{{ kingdom.name }}</a>
                <br>
                {% endfor %}
                {% else %}
                None
                {% endif %}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Cities
            </div>
            <div class="col">
                {% if asset.cities %}
                {% for city in asset.cities %}
                <a class="fs-5" href="{{ url_for('explore.view_city_details', id=city.id) }}">{{ city.name }}</a>
                <br>
                {% endfor %}
                {% else %}
                None
                {% endif %}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Points of Interest
            </div>
            <div class="col">
                {% if asset.points_of_interest %}
                {% for poi in asset.points_of_interest %}
                <a class="fs-5" href="{{ url_for('explore.view_point_of_interest_details', id=poi.id) }}">{{ poi.name }}</a>
                <br>
                {% endfor %}
                {% else %}
                None
                {% endif %}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Campaigns
            </div>
            <div class="col">
                {% if asset.campaigns %}
                {% for campaign in asset.campaigns %}
                <a class="fs-5" href="{{ url_for('explore.view_campaign_details', id=campaign.id) }}">{{ campaign.name }}</a>
                <br>
                {% endfor %}
                {% else %}
                None
                {% endif %}
            </div>
        </div>

        {% if current_user == asset.owner %}
        <div class="row mb-4">
            <div class="col">
                <a class="btn btn-outline-success" href="{{ url_for('explore.edit_setting', id=asset.id) }}">Edit this Setting</a>
            </div>
            <div class="col">
                <form action="{{ url_for('explore.delete_asset', asset_type=asset_type, id=asset.id) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Delete this Setting', class_="btn btn-outline-danger") }}
                </form>
            </div>
        </div>
        {% else %}
        <div class="row mb-4">
            <div class="col">
                <form action="{{ url_for('explore.copy_asset', asset_type=asset_type, id=asset.id) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Copy this Setting to my account', class_="btn btn-outline-success") }}
                </form>
            </div>
        </div>
        {% endif %}

    </div>
    <div class="col">
        <img src="{{url_for('static', filename='images/default_campaign.jpeg')}}" class="d-block w-100" alt="A castle among cliffs surrounded by water.">
    </div>
</div>


{% endblock %}