{% extends "base.html" %}

{% block content %}

{% set asset_type="quest" %}

<div class="row">
    <div class="col">

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Quest
            </div>
            <div class="col">
                <h2>{{ asset.name }}</h2>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Created by
            </div>
            <div class="col">
                <a class="fs-5" href="{{ url_for('main.user', username=asset.owner.username) }}">{{ asset.owner.username }}</a>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Tagline
            </div>
            <div class="col">
                {{ asset.short_description }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Quest Giver
            </div>
            <div class="col">
                {{ asset.quest_giver }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Reward
            </div>
            <div class="col">
                {{ asset.reward }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Description
            </div>
            <div class="col">
                {{ asset.long_description }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-2 fs-6 text-body-secondary opacity-75">
                Campaign
            </div>
            <div class="col">
                {% if asset.campaign %}
                <a class="fs-5" href="{{ url_for('explore.view_campaign_details', id=asset.campaign_id) }}">{{ asset.campaign.name }}</a>
                {% else %}
                None
                {% endif %}
            </div>
        </div>

        {% if current_user == asset.owner %}
        <div class="row mb-4">
            <div class="col">
                <a class="btn btn-outline-success" href="{{ url_for('explore.edit_quest', id=asset.id) }}">Edit this Quest</a>
            </div>
            <div class="col">
                <form action="{{ url_for('explore.delete_asset', asset_type=asset_type, id=asset.id) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Delete this Quest', class_="btn btn-outline-danger") }}
                </form>
            </div>
        </div>
        {% else %}
        <div class="row mb-4">
            <div class="col">
                <form action="{{ url_for('explore.copy_asset', asset_type=asset_type, id=asset.id) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Copy this Quest to my account', class_="btn btn-outline-success") }}
                </form>
            </div>
        </div>
        {% endif %}

    </div>
    <div class="col">
        <img src="{{url_for('static', filename='images/default_campaign.jpeg')}}" class="d-block w-100" alt="A castle among cliffs surrounded by water.">
    </div>
</div>


{% endblock %}